<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>All Poll Lists</title>
     <link rel="stylesheet" href="/pub/css/style.css">
</head>
<body>
     <header>
          <div class="container">
               <div class="row">
                    <div class="col-lg-6 m-auto">
                         <nav class="navbar navbar-expand navbar-light" style="background-color: #e3f2fd;">
                              <ul class="navbar-nav">
                                   <li class="nav-item">
                                        <a class="nav-link" href="/">Home</a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link" href="/poll">All Poll</a>
                                   </li>
                                   <li class="nav-item">
                                        <a class="nav-link" href="/poll/create">Poll Create</a>
                                   </li>
                              </ul>
                         </nav>
                    </div>
               </div>
          </div>
     </header>
     <div class="container mt-5">
          <div class="row">
               <div class="col-lg-6 m-auto">
                    <h2>All Poll List</h2>
                    <div class="poll-list mt-3">
                         <% for (let p of polls) { %>
                              <div class="card mt-4">
                                   <div class="card-body">
                                        <h5 class="card-title"><%= p.title %></h5>
                                        <p class="card-text"><%= p.description %></p>
                                        <a href="/poll/<%= p._id %>" class="btn btn-primary">Details</a>
                                   </div>
                              </div>
                         <% } %>
                    </div>
               </div>
          </div>
     </div>
</body>
</html>